name: CI

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}
  schedule:
    - cron: '0 3 * * *' # daily, at 3am

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: yarn

      - name: install dependencies
        run: yarn install

      - name: lint
        run: yarn lint

  test:
    name: Node Tests
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [12.x, 14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: install dependencies
        run: yarn install

      - name: node tests
        run: yarn test:node

  ember-try-scenarios:
    name: Ember Tests (${{ matrix.test-suite }})

    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-suite:
          - test:strip
          - test:keep

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: yarn

      - name: install dependencies
        run: yarn install

      - name: test
        env:
          TEST_SUITE: ${{ matrix.test-suite }}
        run: yarn test:all --skip-cleanup
